<h1 class="display-4">Hello!</h1>
  <h2>Welcome to the Global Warming Checking App</h2>
  <hr class="my-4">
  <div class = info>
      <div class = info1><p>Global warming is a long-term rise in the average temperature of the Earth's climate system, 
            an aspect of climate change shown by temperature measurements and by multiple effects of the warming. 
            Though earlier geological periods also experienced episodes of warming, the term commonly refers to the 
            observed and continuing increase in average air and ocean temperatures since 1900 caused mainly by emissions 
            of greenhouse gasses in the modern industrial economy.</p>
      </div>
      <div class = info1><p>Climate change has brought about possibly permanent alterations to Earth's geological, biological 
          and ecological systems. These changes have led to the emergence of a not so large-scale environmental hazards to human 
          health, such as extreme weather, ozone depletion, increased danger of wildland fires, loss of biodiversity, stresses 
          to food-producing systems and the global spread of infectious diseases.</p>
      </div>
      <div class = info1><p>We provided the information about the present climatic conditions and the
      percentage increase in the temperature from the past 2 years for 20000+ cities. Based on the users search
      criteria i.e., the city name and the country we are showing the expected results.</p>
      </div> 
      <div class = info1><p>To use the services, please <a routerLink="/auth/login">Login</a></p>
      <!--<div class = info1><p>To know more about our plans, please proceed to <a routerLink="/plans">View Plans</a></p></div>-->
      </div>
    
  </div>


